name: CI

on:
  push:
    branches: [ "main" ]
    tags:
      - "*"
  pull_request:
    branches: [ "main" ]

permissions:
  contents: write

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Coding style
      run: cargo fmt --all -- --check
    - name: Documentation
      run: cargo doc --all-features
    - name: Install Rust (MSRV)
      uses: actions-rs/toolchain@v1
      with:
        toolchain: 1.89.0
        override: true
        profile: minimal
    - name: Build
      run: cargo build
    - name: Build (HTML)
      run: cargo build --features html
    - name: Build (Processing)
      run: cargo build --features processing
    - name: Test
      run: cargo test
    - name: Build (All)
      run: cargo build
    - name: Tests
      run: cargo test --all-features

  release:
    name: Release
    runs-on: ubuntu-latest
    if: github.ref_type == 'tag'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable

      - name: Publish
        env:
          TOKEN: ${{ secrets.CRATES_IO_TOKEN }}
        run: |
          cargo login $TOKEN
          cargo publish
      
      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        uses: actions/create-release@v1
        with:
          draft: true
          tag_name: ${{ github.ref_name }}
          release_name: ${{ github.ref_name }}
